.contact-form {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.contact-form form {
  padding: 20px;
}

.contact-inputs input,
.contact-inputs textarea {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
}

.contact-inputs textarea {
  resize: none;
}

.contact-inputs input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.contact-inputs input[type="submit"]:hover {
  background-color: #0056b3;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #007bff;
}

@media only screen and (max-width: 600px) {
  .contact-form {
    width: 80%;
  }
}
