.testimonials {
  /* margin: 50px auto; */
  margin-bottom: 0;
  max-width: 100vw;
  position: relative;
  background-color: bisque;
  max-height: 375px;
  /* Added max-height property */
  overflow: hidden;
  /* Added overflow property */
}

.test {
  padding: 15px 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.testimonials .slick-slide {
  margin-top: 10px;
  align-items: center;
}

.testimonials .slick-slide img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials .slick-arrow {
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  width: 50px;
  z-index: 1;
}

.testimonials .slick-arrow:hover {
  opacity: 1;
}

.testimonials .slick-prev {
  left: 0;
  box-shadow: none;
}

.testimonials .slick-next {
  right: 0;
  box-shadow: none;
}

.testimonials .testimonial-item {
  text-align: center;
  height: 350px;
  /* Added height property */
}

.slick-next:focus {
  margin: none;
}

.testimonials .testimonial-text {
  font-size: 25px;
  font-style: italic;
  margin: 20px 150px;
}


.testimonials .testimonial-person {
  font-size: 22px;
  font-weight: bold;
}
