.testimonials {
  margin: 50px auto;
  max-width: 70vw;
  position: relative;
  background-color: bisque;
  max-height: 350px;
  /* Added max-height property */
  overflow: hidden;
  /* Added overflow property */
}

h1 {
  padding: 15px 0;
  text-align: center;
}

.testimonials .slick-slide {
  align-items: center;
}

.testimonials .slick-slide img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials .slick-arrow {
  /* background-color: lightblue; */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  width: 50px;
  z-index: 0;
}

.testimonials .slick-arrow:hover {
  opacity: 1;
}

.testimonials .slick-prev {
  left: 0;
}

.testimonials .slick-next {
  right: 0;
}

.testimonials .testimonial-item {
  text-align: center;
  height: 350px;
  /* Added height property */
}

.testimonials .testimonial-text {
  font-size: 18px;
  font-style: italic;
  margin: 20px;
}

.testimonials .testimonial-person {
  font-size: 16px;
  font-weight: bold;
}